<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/users/<%= user.id %>?_method=PUT" method="post">
        FirstName:
        <input name="firstName" type="text" placeholder="first name" value="<%= user.firstName %>"> <br>
        LastName:
        <input name="lastName" type="text" placeholder="last name" value="<%= user.lastName %>"> <br>
        Role:
        <input name="role" type="text" placeholder="role" value="<%= user.role %>"> <br>
        Age:
        <input name="age" type="number" placeholder="age" value="<%= user.age %>"> <br>
        Email:
        <input name="email" type="email" placeholder="email" value="<%= user.email %>"> <br>
        Phone:
        <input name="phone" type="tel" placeholder="phone" value="<%= user.phone %>"> <br>
        <button>Save</button>
    </form>
</body>
</html>